<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Erro 404</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="erro404">

        <div class="overlay"></div>

        <div class="conteudo">

            <span>ERRO</span>

            <h1>404</h1>

            <h2>Algo não está certo.</h2>

            <p>
                A página que você procura não existe,
                foi removida ou talvez nunca tenha estado aqui.
            </p>

            <a href="/" class="botao">
                Voltar para Home
            </a>

        </div>

    </main>

</body>

</html>