<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mentalista</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="hero">
 <div class="logo">
            <span class="logo-the">THE</span>
            <span class="logo-mentalist">MENTALIST</span>
        </div>
        <nav class="cabecalho">
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </nav>

    </header>


    <main>


        <section class="principal">

            <img
                src="/img/e3943b0c-2db4-429a-a4c0-94bd0a7ebc1f.png"
                alt="Banner da série Mentalista"
            >

        </section>


       
        <section class="sobre">

            <div class="sobre-texto">

                <span>SOBRE A SÉRIE</span>

                <h2>
                    Um ex-psíquico que
                    resolve crimes.
                </h2>

                <p>
                    Patrick Jane já foi um famoso consultor que dizia ter
                    poderes psíquicos. Depois de uma tragédia pessoal,
                    ele passa a utilizar sua extraordinária capacidade
                    de observação para ajudar na resolução de crimes.
                </p>


                <div class="informacoes">

                    <div>
                        <strong>7</strong>
                        <p>Temporadas</p>
                    </div>

                    <div>
                        <strong>151</strong>
                        <p>Episódios</p>
                    </div>

                    <div>
                        <strong>8.1</strong>
                        <p>IMDb</p>
                    </div>

                </div>

            </div>


            <div class="sobre-imagem">

                <img
                    src="/img/08ee4d4d-fa56-4a25-b1a9-f8168317dec3.png"
                    alt="Investigação em Mentalista"
                >

            </div>

        </section>


        

        <section class="personagem">

            <div class="personagem-imagem">

                <img
                    src="/img/5d467972-48da-4dee-8198-d229e617ba1d.png"
                    alt="Patrick Jane"
                >

            </div>


            <div class="personagem-texto">

                <span>PERSONAGEM PRINCIPAL</span>

                <h2>Patrick Jane</h2>

                <p>
                    Ele não é um psíquico.
                    É apenas extremamente bom em observar
                    aquilo que todo mundo ignora.
                </p>

                <blockquote>
                    “A mente é como um músculo.
                    Quanto mais você usa, mais forte ela fica.”
                </blockquote>

            </div>

        </section>
         <section class="personagem">

            <div class="personagem-imagem">

                <img
                    src="/img/5d467972-48da-4dee-8198-d229e617ba1d.png"
                    alt="Patrick Jane"
                >

            </div>


            <div class="personagem-texto">

                <span>PERSONAGEM PRINCIPAL</span>

                <h2>Patrick Jane</h2>

                <p>
                    Ele não é um psíquico.
                    É apenas extremamente bom em observar
                    aquilo que todo mundo ignora.
                </p>

                <blockquote>
                    “A mente é como um músculo.
                    Quanto mais você usa, mais forte ela fica.”
                </blockquote>

            </div>

        </section>
         <section class="personagem">

            <div class="personagem-imagem">

                <img
                    src="/img/5d467972-48da-4dee-8198-d229e617ba1d.png"
                    alt="Patrick Jane"
                >

            </div>


            <div class="personagem-texto">

                <span>PERSONAGEM PRINCIPAL</span>

                <h2>Patrick Jane</h2>

                <p>
                    Ele não é um psíquico.
                    É apenas extremamente bom em observar
                    aquilo que todo mundo ignora.
                </p>

                <blockquote>
                    “A mente é como um músculo.
                    Quanto mais você usa, mais forte ela fica.”
                </blockquote>

            </div>

        </section>
         <section class="personagem">

            <div class="personagem-imagem">

                <img
                    src="/img/lisbom.png"
                    alt="Lisbom"
                >

            </div>


            <div class="personagem-texto">

                <span>PERSONAGEM </span>

                <h2>LISBON</h2>

                <p>
                   Teresa Lisbon é uma agente do CBI e líder da equipe de investigação. Determinada, responsável e corajosa, ela trabalha ao lado de Patrick
                    Jane e frequentemente precisa lidar com seus métodos nada convencionais
                </p>

                <blockquote>
                    “Eu não desisto das pessoas em quem acredito.”
                </blockquote>

            </div>

        </section>

    </main>
<footer class="footer">

    <div class="footer-conteudo">

        <div class="footer-logo">
            <h2>THE <span>MENTALIST</span></h2>
            <p>
                Observe. Questione. Descubra a verdade.
            </p>
        </div>

        <div class="footer-links">
            <h3>NAVEGAÇÃO</h3>

            <a href="/">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </div>

        <div class="footer-serie">
            <h3>SOBRE A SÉRIE</h3>

            <p>
                Mistério, investigação e psicologia em uma
                história onde nenhum detalhe é por acaso.
            </p>
        </div>

    </div>

    <div class="footer-linha"></div>

    <div class="footer-final">
        <p>© 2026 The Mentalist — Projeto acadêmico.</p>

        <span>☺</span>
    </div>

</footer>
</body>

</html>